* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  /* Ala Trent Walton */
  /* http://trentwalton.com/2011/09/07/css-hyphenation */
  hyphens: auto;
}

body:before {
  display: none;
  @media (min-width: 40em) {
    content: "sm";
  }
}

abbr, acronym, blockquote, code, dir, kbd, listing, plaintext, q, samp, tt, var, xmp {
  /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
  hyphens: none;
}

.wrap {
  width: 64em;
  margin: 0 auto;
  max-width: 90%;
  position: relative;
}
